<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.stanford.kaseypb.foodtrain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="GOxzxjpfIZ3wug4blCRsLfSlLVnQBrwDdmSth8tW" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="6oJNkMl0eCf9wqS3z0okDbWzZmxEaqjNi66kvPHJ" />

        <activity android:name=".CurrentTimeSlotsActivity"></activity>
    </application>

</manifest>
